.body{
    font: 20px, Arial, sans-serif;
}

.navbar {
    background-color: #1E8449;
}
.quem-somos{
    background-color: rgb(253, 140, 2);
    color: aliceblue;
}
.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}
.parceiros{
    background-color: rgb(249, 253, 1);
}